<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangHRM Test Suite">
  <test name="OrangHRM Tests">
    <classes>
      <class name="AutomationPRJ.OrangHRM.TestLoginWorkflow"/>
      <class name="AutomationPRJ.OrangHRM.TestAddEmployee"/>
      <class name="AutomationPRJ.OrangHRM.OrangHRMTest"/>
    </classes>
  </test>
</suite>